/* ---------------- HEADER ---------------- */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 17rem;
}

.main-nav {
  width: 140rem;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  align-items: center;
}

.nav-btns-main {
  display: flex;
  gap: 7.2rem;
  margin-right: auto;
}

.nav-btns-cta {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-btn:hover,
.main-nav-btn:active {
  color: #01996d;
  transition: all 0.3s ease-in-out;
}

/* SECTION HERO */

.hero {
  padding-top: 19.2rem;
  background: linear-gradient(
      115deg,
      rgba(255, 255, 255, 0.9) 18.15%,
      rgba(0, 0, 0, 0.1) 53.07%
    ),
    url(../imgs/bg.png);

  background-size: cover;
  border-top: 1px solid #d6d6d6;

  flex: 1;
}

/* ---------------- MAIN ---------------- */

/* HOW IT WORKS */

.subheading {
  font-family: 'Lato', sans-serif;
  color: #424242;
  font-size: 2.4rem;
}

.how-it-works__header {
  display: flex;
  gap: 10rem;
  align-items: center;

  margin-bottom: 16.4rem;
}

/* HOW IT WORKS CARDS */

.cards-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25.5rem;
}

.card-block {
  flex-basis: 27%;
}

.card-title {
  position: relative;
}

.card-header {
  font-family: 'Georgia', serif;
  font-size: 3rem;
  color: #000;
  font-weight: 700;
  display: inline;
  margin-bottom: 7.2rem;
  display: block;

  text-align: center;
}

.card-text {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
  line-height: 1.5;
  color: #424242;
}

.card-01 {
  position: relative;
}

.card-02 {
  position: relative;
  transform: translate(0, 20rem);
}

.card-03 {
  position: relative;
}

.card-header-01 {
  text-align: center;
}
.card-header-02 {
  text-align: right;
}
.card-header-03 {
  text-align: center;
}

.card-block::before {
  font-family: 'Georgia', serif;
  position: absolute;
  top: -13%;
  left: 10%;
  font-size: 15rem;
  font-weight: normal;
  color: rgba(1, 153, 109, 0.2);
}

.card-01::before {
  content: '01';
  line-height: 1;
  height: auto;
}
.card-02::before {
  content: '02';
}
.card-03::before {
  content: '03';
}

/* STORY */

.story-section {
  background-color: #245852;
  padding-top: 23rem;
  padding-bottom: 17.6rem;
  margin-bottom: 18rem;
}

.user-story-container {
  width: min-content;
  margin: 0 auto;
}

.user-story {
  display: flex;
  /* gap: 4.8rem; */
  justify-content: space-between;
  align-items: center;
}

.user-story__text-block {
  min-width: 58rem;
  /* flex-basis: 40%;
  flex-shrink: 0; */
}

.heading-story,
.paragraph-text__user-story {
  color: #fff;
  margin-bottom: 4.8rem;
}

.heading-story {
  margin-bottom: 6.4rem;
}

.paragraph-text__user-story {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

/* SECTION PRODUCT */

.product-section {
  display: flex;
  /* gap: 9rem; */
  margin-bottom: 40rem !important;
  justify-content: space-around;
}

.customer-img {
  background-color: rgba(1, 153, 109, 0.2);
  border-radius: 18px;
  padding-left: 8rem;
  padding-right: 11rem;

  position: relative;
}

.customer-block {
  flex-basis: 45%;
  flex-shrink: 0;
}

.product-subheading {
  margin-bottom: 2.4rem;
}

.heading-user {
  /* width: auto; */
  margin-bottom: 4.8rem;
}

.paragraph-text__user {
  margin-bottom: 3.2rem;
}

/* USER CUSTOMIZING BLOCK */
.customizing-block {
  box-shadow: 0 3.62px 18.11px 0 rgba(165, 165, 165, 0.25);
  position: absolute;
  left: -10%;
  top: 60%;
  background-color: #fff;
  border-radius: 6px;

  padding: 6.4rem 8.2rem;

  font-family: 'Lato', sans-serif;
}

.user-thumbnail {
  text-align: center;
}

.customize-header {
  border-bottom: 1px solid #000;
  display: inline-block;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 500rem;
  overflow: hidden;
  background-color: rgba(1, 153, 109, 0.2);
  /* display: inline-block; */
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.user-name {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.user-subheader {
  font-weight: 600;
  font-family: 'Georgia', serif;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.user-list-option {
  list-style-type: disc;
  list-style-position: inside;
}

/* ---------------- FOOTER ---------------- */

.footer {
  background-color: #245852;
  padding-bottom: 6.4rem;
  /* display: flex; */
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 6.4rem;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.footer-logo:link,
.footer-logo:visited,
.footer-logo:hover,
.footer-logo:active {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.footer-link:link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.footer-social {
  align-self: flex-end;
}

.footer-apps {
  text-align: center;
  align-self: flex-end;
}

.footer-apps-header {
  color: #fff;
  margin-bottom: 6.4rem;
  font-weight: 500;
  font-size: 2.4rem;
  font-family: 'Lato', sans-serif;
}
