/* 
COLORS:

Primary - #01996D
Dark - #245852
Light - rgba(1, 153, 109, 0.2);

Greys: 
Text header - #000;
Text - #424242;
text2 - #292929;

BORDER RADIUS: 
Medium - 9px;
Large - 11px;

SHADOWS: 0 3.62px 18.11px 0 rgba(165, 165, 165, 0.25);

*/

/* GENERAL REUSABLE COMPONENTS */

/* GENERAL CLASSES */

.mb-mid {
  margin-bottom: 6rem;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

/* ELEMENT CLASSES */

.heading-primary {
  font-family: 'Georgia', serif;
  font-size: 6.4rem;
  font-weight: 600;
  color: #01996d;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-family: 'Georgia', serif;
  font-size: 5rem;
  font-weight: 600;
  color: #01996d;
  letter-spacing: 1px;
  line-height: 1.7;
  letter-spacing: -0.5px;
  flex-basis: 45%;
  flex-shrink: 0;
}

.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #292929;
  text-decoration: none;
}

.cta-btn:link,
.cta-btn:visited {
  padding: 2rem 5rem;
  background-color: #01996d;
  color: #fff;
  border-radius: 5px;

  display: block;
  text-align: center;
  width: fit-content;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: #017a57;
  transition: all 0.3s;
}

.nav-cta-btn:link,
.nav-cta-btn:visited {
  padding: 1.3rem 5rem;
}

.paragraph-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #484848;
  font-size: 2rem;
  line-height: 1.5;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  margin-right: 17.2rem;
  color: #01996d;
  font-weight: 600;
  font-size: 3.2rem;
}

.w-480 {
  width: 48rem;
}
